<label for="usernamInput">Enter a username: </label>
<input [(ngModel)]="userName" id="usernameInput" type="text">
<ang-music-player *ngIf="this.audioList.length >= 1"
                  [audioList] = audioList
                  (playEvent)="playEvent()"
                  (pauseEvent)="pauseEvent()"
                  (nextEvent)="nextEvent()"
                  (previousEvent)="previousEvent()"
                  (seekEvent)="seekEvent()"></ang-music-player>
<h2>Queue</h2>
<div *ngFor="let audio of audioList">
  <h3>{{ audio.title }} 
    <button (click)="delete(audio.id)">Delete</button>
  </h3>
</div>
<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div>

<router-outlet></router-outlet>